.nav {
  position: relative;
  margin: 0 auto;
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-heading {
  width: 85%;
  color: #fff;
  height: 60%;
}
.nav-heading > input {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  border: none;
  outline: none;
  border-radius: 24px;
  background-color: purple;
}

.nav-heading > input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.nav-icon > svg > path {
  color: #fff;
}
